* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: cornflowerblue;
  user-select: none;
  cursor: pointer;
  font-size: 3rem;
  padding: 1.5rem;
  border-radius: 1rem;
  border: solid cornflowerblue 0.2rem;
  transition: color ease 300ms, border ease 700ms;
}

.green {
  color: limegreen;
  border: solid limegreen 0.2rem;
}
